#u1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightskyblue;
  }
  
  .l1 {
    float:right;
  }
  
  .l1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }
  
  .l1 a:hover {
    background-color:#b9ffb6;
  }
  a:link, a:visited {
    background-color:transparent;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}



button {
    font-size: medium;
    padding:5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: olivedrab;
    color: white;
    }

#bothnia {
  font-size: 30px;
  color:olivedrab;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  float:left;
  padding: 10px;
  background-color: transparent;

}
form {
    background-image:url("norrland_700.jpg");
    width: 100%;
    height: 100px;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
     

}
#search {
    color:black;
    font-size: 15px;
    background-color:transparent;
    
    
}
input {
  width: 70%;
  padding-top:10px;
  font-size: 14px;
  
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }